.ui-page, .ui-content, html, body, #map {
    height: 100%;
    width: 100%;
    padding: 0px;

}

.hidden {
	display:none;
}

.popup {
	width: 200px;
}

.edit_form_button {
	padding: .6em 25px;
}

.note_content{
	margin: 6px 0px 0px 0px;
	font-size: 18px;
	font-weight: 500;
}

.note_cell #Note {
	padding: 0px 17px 5px 17px;
}

.note_tag {
	font-weight: normal;
	font-style: oblique;
	font-size: 12px;
}

.note_location {

	font-weight: normal;
	font-style: oblique;
	font-size: 12px;
}

.tag {
	text-decoration: none;
}

.tag_list {
	color: green;
}

#header .ui-icon   {
	left: 3px;
}

#header .ui-btn-inner {
	padding: 5px 8px 5px 26px;
}

.content-notes {
	margin: 0px 1% 0px 1%;
}

/*related to popup maxWidth in map.js > set_marker */
.content-note {
	width: 140px;
}

.content_note_test {
	width: 88%;
}

.content-main-menu {
	margin: 0px 2% 0px 3%;
}

.ui-checkbox .remember-me {
	margin: .5em 5px;
}

