.ui-page, .ui-content, html, body, #map {
    height: 100%;
    width: 100%;
    padding: 0px;

}

.hidden {
	display:none;
}

.popup {
	width: 200px;
}

.edit_form_button {
	padding: .6em 25px;
}

.note_content {
	font-size: large;
	min-height: 60px;
	padding-left: 100px;
}

.note_tag {
	font-weight: normal;
	font-size: medium;
}

.tag {
	text-decoration: none;
}

#header .ui-icon   {
	left: 3px;
}

#header .ui-btn-inner {
	padding: 5px 8px 5px 26px;
}

.content-notes {
	margin: 0px 1% 0px 1%;
}

/*related to popup maxWidth in map.js > set_marker */
.content-note {
	width: 140px;
}

.content_note_test {
	width: 88%;
}

.content-main-menu {
	margin: 0px 2% 0px 3%;
}

.ui-checkbox .remember-me {
	margin: .5em 5px;
}

