.ui-page, .ui-content, html, body, #map {
    height: 100%;
    width: 100%;
    padding: 0px;

}

.hidden {
	display:none;
}

.popup {
	width: 200px;
}

.edit_form_button {
	padding: .6em 25px;
}

.note_tag{
	padding-left: 40px;
	font-size: medium;
}

.note_content{
	font-size: large;
}

