<%= javascript_include_tag "map" %>
<%= render "shared/map_header"%>
<div data-role="content">
	<div id="map"></div>
</div>
<div class="hidden">
	<%= render "notes/note_form" %>
	<div id="load_notes" >
		<%= render @notes %>
	</div>
</div>