<% 
	content_for :head do
		javascript_include_tag "map"
	end
%>
<div id="header" data-role="header" data-position="fixed">
	<%= link_to 'Menu', users_path, "class" => "ui-btn-left", "data-icon" => "gear", :id => "Menu"  %>
	<h1>Map</h1>
	<%= link_to 'Notes', "#", "class" => "ui-btn-right", "data-icon" => "gear", :id => "Notes" %>
</div>

<div data-role="content">
	<div id="map">
		
	</div>
</div>